.table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td,
th {
  border: 1px solid #000e29b0;
  padding: 12px 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f200;
  color: var(--light);
}

tr:hover {
  background-color: rgba(40, 106, 160, 0.274);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary);
  color: white;
  text-transform: uppercase;
}
